$colors: (
    black-col: black,
    white-col: white,
    beige-col: beige,
    blanco-especial: #f1eff4,
    negro-especial: #2f2424,
    azul-tipo: #004080,
    gris-hover: #716f65
);

$font-sizes: (
    xs: 14px,
    m: 16px,
    l: 24px,
    xl: 32px,
    xxl: 48px,
    especial-1: 60px
);