$colors: (
    black-col: #B3B3B3,
    white-col: #ffffff,
    beige-col: #f5f5dc,
    blanco-especial: #f1eff4,
    negro-especial: #2f2424,
    azul-tipo: #004080,
    gris-hover: #DEDEB8
);

$font-sizes: (
    xs: 14px,
    m: 16px,
    l: 24px,
    xl: 32px,
    xxl: 48px,
    especial-1: 60px,
    especial-2: 70px,
    especial-3: 28px,
    especial-4: 20px,
    especial-5: 50px
);