@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex2($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin medidas($ancho, $alto) {
    width: $ancho;
    height: $alto;
}