.contenedor-informacion {
    // margin: 100px 100px;
    .container-card {
        margin: 50px;
        @include flex(row, center, none);
        flex-wrap: wrap;
        // gap: 32px;
        .cards {
            padding: 16px;
            border: none;
            border-radius: 5px;
            width: 700px;
        }
    }
    
    .config-imagen-texto {
        @include flex(none, none, center);
    }

    h1 {
        color: map-get($colors, blanco-especial);
        font-family: $font-family;
        font-size: map-get($font-sizes, xxl);
    }
    .icono-informacion {
        display: inline-block;
        @include medidas(60px, 38px);
        color: map-get($colors, white-col);
        margin-right: 10px;
        // float: left;
    }
    p {
        padding: 0px;
        display: inline-block;
        // @include medidas(450px, none);
        color: map-get($colors, white-col);
    }
    .config-mapa{
        @include medidas(640px, 500px);
        margin: 16px;
        border-radius: $borde-radius;
    }
    .section-informacion {
        margin-bottom: 100px;
    }
}

.contenedor-formulario {
    @include flex(center, center, center);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-bottom: 50px;
    .formulario {
        @include flex(column, none, none);
        margin-bottom: 15px;
        .texto-formulario {
            color: map-get($colors, white-col);
        }
        .campo-formulario {
            @include medidas(1000px, none);
            border: 1px solid black;
            border-radius: 5px;
    
        }
        .campo-textarea {
            @extend .campo-formulario;
        }
        .botom-formulario {
            @extend .campo-formulario;
            height: 40px;
            margin-top: 15px;
            &:hover {
                color: map-get($colors, azul-tipo);
            }
        }
    }
}