.imagen-style {
    @include medidas(100%, 650px);
    border-radius: $borde-radius;
}

.imagen-style-video {
    width: 100%;
    border-radius: $borde-radius;
}
body {
    background-color: map-get($colors, "negro-especial");
}

.seccion-1 {
    @include flex2(column);
    // display: flex;
    // flex-direction: column;
    margin: 250px 150px;
    padding: 20px;
    text-align: center;
    h1 {
        font-size: map-get($font-sizes, "xxl");
        color: map-get($colors, "blanco-especial");
        font-family: $font-family;
    }
    
    p {
        font-family: $font-family;
        color: map-get($colors, "white-col");
        text-align: center;
        font-size: 32px;
    }
}
 .seccion-2 {
    @extend .seccion-1;
 }
.titulo {
    text-align: center;
}

.subtitulo {
    margin-bottom: 20px;
    color: map-get($colors, "white-col");
    font-family: $font-family;
    font-size: map-get($font-sizes, "especial-1");
}

.container-card{
    margin: 32px;
    @include flex(row, space-evenly, none);
    flex-wrap: wrap;
    .contenedor-carrusel {
        padding: 12px;
        width: 800px;
        border: 1px solid white;
        .tamaño-img {
            @include medidas(100%, 500px);
            margin: 0 auto;
        }
        
    }
}

