.navbar {
    background-color: map-get($colors , azul-tipo);
    padding: 10px 20px;
    .optica-logo img {
        @include medidas(100px, 80px);
    }
    .navbar-togger-icon {
        background-image: url("../assets/img/icono-lista-menu.png");
        @include medidas(30px, 30px);
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: map-get($colors, white-col );
                font-size: map-get($font-sizes , m );
                font-weight: bold;
                padding: 10px 15px;
                text-transform: uppercase;
                transition: color 0.3s ease-in-out;
                &:hover {
                    color: map-get($colors, gris-hover );
                }
            }
        }

    }
}