.servicios-1 {
    font-size: map-get($font-sizes, xxl);
    color: map-get($colors, blanco-especial);
    font-family: $font-family;
}

.titulo {
    color: map-get($colors, blanco-especial)
}

.contenedor-tamaño {
    @include flex(column, center, center);
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.config-izquierda {
    @include flex(column, center, center);
    @include medidas-2(60px, 60px);
    flex-wrap: wrap;
    h2 {
        color: map-get($colors, white-col);
    }
    .linea-horizontal-izquierda {
        @extend .linea-horizontal;
    }
    .parrafo-izquierda {
        color: map-get($colors, white-col);
        text-align: center;
        font-family: $font-family;
        font-size: map-get($font-sizes, l);
        margin: 50px;
    }
}

.config-derecha {
    @extend .config-izquierda;
    .linea-horizontal-derecha {
        @extend .linea-horizontal;
    }
    .parrafo-derecha {
        @extend .parrafo-izquierda;
    }
    
}

.contenedor-img {
    @include flex(none, center, center);
    padding: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    .img-derecha {
        @include medidas(600px, 600px);
        border-radius: 10px;
    }
    .img-izquierda {
        @extend .img-derecha;
    }
}

.container-servicios {
    margin-top: 100px;
    margin-bottom: 100px;
}