@media (min-width: 451px) and (max-width: 1200px) {
    header {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    // Footer
    .footer-style img {
        @include medidas(50px, 50px);
    }
    .footer-contenedor {
        gap: map-get($font-sizes, especial-5);
    }
    .custom-toggler {
        border: 2px solid white;
    }
    .navbar-toggler-icon {
        background-image: url("/assets/img/icono-lista-menu-2.png");
        // background-color: map-get($colors, white-col );
    }
    // Index
    .seccion-1 {
        margin: 160px 50px;
        h1 {
            font-size: map-get($font-sizes, xxl);
        }
        p {
            font-size: map-get($font-sizes, especial-3);
        }
        .linea-horizontal {
            @include medidas-2(10px, 40px);
        }
    }
    .carrusel-img {
        @include medidas(100%, 700px);
    }
    .carousel-caption {
        h5 {
            font-size: map-get($font-sizes, xxl);
        }
        p {
            font-size: map-get($font-sizes, m);
        }
    }
    .seccion-2 {
        // @extend .seccion-1;
        margin: 160px 50px;
        h1 {
            font-size: map-get($font-sizes, xxl);
        }
        p {
            font-size: map-get($font-sizes, especial-3);
        }
        .linea-horizontal {
            @include medidas-2(10px, 40px);
        }
        h2 {
            font-size: map-get($font-sizes, xxl);
        }
    }

    .config-izquierda {
        @include flex(center, none, center);
        .parrafo-izquierda {
            font-size: map-get($font-sizes, l);
        }
        h2 {
            
        }
    }
    .contenedor-tamaño-estructura {
        @include flex(center, center,center);
        h2 {
            font-family: $font-family;
            font-size: map-get($font-sizes, xxl)
        }
        p {
            font-size: map-get($font-sizes, especial-3)
        }
        .img-derecha {
            @include medidas(100%, 500px);
        }
    }
    // Ajustes contactenos
    .contenedor-formulario {
        @include flex(column, center, center);
        .config-mapa {
            @include medidas(50px, 50px);
        }
    }
    // Formulario
    .contenedor-formulario {
        @include flex(column, center, center);
        // padding-left: 100px;
        .campo-formulario {
            font-size: map-get($font-sizes, xs);
            width: 500px;
            padding: 10px;
        }
    }
}