* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #231e1e;
    
}

header {
    width: 100%;
    background-color: beige;
}

.navbar {
    /* display: grid;
    grid-template-rows: 100px;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    grid-template-areas: 
        "optica-logo navbar-ul navbar-ul navbar-ul navbar-ul navbar-ul"; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    padding-right: 500px; */
}

.nav-center {
    /* display: flex;
    justify-content: center; */
}

.optica-logo img{
    /* grid-area: optica-logo;
    display: flex;
    flex-direction: row;
    justify-content:left; */
    width: 100px;
    height: 80px;
}

/* .navbar-ul {
    grid-area: navbar-ul;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
} */
/* 
.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
} */

/* .navbar ul li {
    list-style: none;
}

.navbar-link {
    text-decoration: none;
    color: black;
    font-size: 24px;

} */

h1 {
    font-size: 48px;
    color: #9a1d1d;
    text-transform: uppercase;
    text-align: center;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box img {
    max-width: 100%;
    height: auto;
}

.imagen-style {
    width: 100%;
    height: 650px;
}

.carrusel-img {
    
}

.container {
    margin: 50px auto;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
}


.seccion-1 {
    display: flex;
    flex-direction:column;
    margin: 32px 32px;
    padding: 20px;
    /* border: 2px solid black; */
    text-align: center;
}

.seccion-1 p {
    /* width: 50%; */
    text-align: center;
    font-size: 32px;
}

.seccion-2 {
    display: flex;
    flex-direction: column;
    margin: 32px 32px;
    padding: 20px;
    /* border:  2px solid black; */
    text-align: center;
}

.seccion-2 p {
    text-align: center;
    font-size: 32px;
}

.subtitulo {
    /* text-align: center; */
    margin-bottom: 20px;
    color: #1d219a;
    font-family: "Lexend Giga", serif;
    font-size: 40px;
}

.tamaño-img {
    width: 100%;
    height: 1200px;
    margin: 0 auto;
    max-width: 1800px;

}

/* .contenedor {
    display: flex;
    margin: 32px 32px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 32px;
}

.contenedor-foto {
    padding: 16px;
    border: 1px solid black;
    border-radius: 5px;
    width: 900px;
}

.contenedor-foto img {
    width: 100%;
    height: 700px;
} */

/* .img-central {
    width: 50%;
    height: 800px;
}

.img-carrusel {
    width: 50%;
    height: 600px;
}

.section-informacion {
    width: 32px;
    height: 32px;
} */


.footer-style{
    width: 100%;
    padding: 40px 40px;
    background-color: beige;
    border-radius: 5px;
    text-align: center;
}

.footer-contenedor {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;

}

.linea-horizontal {
    width: 65%;
    height: 2px;
    background-color: black;
    margin: 20px auto;
}

.footer-style h2 {
    color: #000000;
    margin-bottom: auto;
}

.footer-style img {
    width: 60px;
    height: 60px;
}

.footer-style p {
    padding: 30px;
    margin-top: 20px;
}

@media (max-width: 450px) {
    .footer-style img {
        width: 40px;
        height: 40px;
    }
    .footer-contenedor {
        gap: 60px;
    }
}