@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #004080;
  padding: 10px 20px;
}
.navbar .optica-logo img {
  width: 100px;
  height: 80px;
}
.navbar .navbar-togger-icon {
  background-image: url("../assets/img/icono-lista-menu.png");
  width: 30px;
  height: 30px;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #716f65;
}

.footer-style {
  width: 100%;
  height: none;
  padding: 40px;
  background-color: beige;
  border-radius: 5px;
  text-align: center;
}
.footer-style h2, .footer-style .container-card .cards p, .container-card .cards .footer-style p {
  color: black;
  margin-bottom: auto;
}
.footer-style p {
  padding: 30px;
  margin-top: 20px;
}
.footer-style img {
  width: 60px;
  height: 60px;
}

.footer-contenedor {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: 80px;
}

.linea-horizontal, .config-derecha .linea-horizontal-derecha, .config-izquierda .linea-horizontal-izquierda, .config-derecha .linea-horizontal-izquierda, .linea {
  width: 65%;
  height: 2px;
  background-color: black;
  margin: 20px auto;
}

.imagen-style {
  width: 100%;
  height: 650px;
  border-radius: 8px;
}

.imagen-style-video {
  width: 100%;
  border-radius: 8px;
}

body {
  background-color: #2f2424;
}

.seccion-1, .seccion-2 {
  display: flex;
  flex-direction: column;
  margin: 250px 150px;
  padding: 20px;
  text-align: center;
}
.seccion-1 h1, .seccion-2 h1 {
  font-size: 48px;
  color: #f1eff4;
  font-family: "Poiret One", serif;
}
.seccion-1 p, .seccion-2 p {
  font-family: "Poiret One", serif;
  color: white;
  text-align: center;
  font-size: 32px;
}

.titulo {
  text-align: center;
}

.subtitulo {
  margin-bottom: 20px;
  color: white;
  font-family: "Poiret One", serif;
  font-size: 60px;
}

.container-card {
  margin: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: wrap;
}
.container-card .contenedor-carrusel {
  padding: 12px;
  width: 800px;
  border: 1px solid white;
}
.container-card .contenedor-carrusel .tamaño-img {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.seccion-1, .seccion-2 {
  margin: 100px;
}

.carousel-caption h5 {
  font-family: "Poiret One", serif;
  font-size: 70px;
  color: black;
}
.carousel-caption p {
  font-family: "Poiret One", serif;
  font-size: 24px;
  color: black;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(100%);
  width: 70px;
  height: 70px;
  color: #f1eff4;
}

.carousel-item .carrusel-img {
  border-radius: 15px;
  max-width: 70%;
  margin: 0 auto;
  height: auto;
  display: block;
}

.container-card {
  margin: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: wrap;
  gap: 32px;
}
.container-card .cards {
  padding: 16px;
  border: 1px solid white;
  border-radius: 5px;
  width: 600px;
}
.container-card .cards h2, .container-card .cards p {
  text-align: center;
  color: white;
  font-size: 32px;
  font-family: "Poiret One", serif;
}
.servicios-1 {
  font-size: 48px;
  color: #f1eff4;
  font-family: "Poiret One", serif;
}

.titulo {
  color: #f1eff4;
}

.contenedor-tamaño {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.config-izquierda, .config-derecha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}
.config-izquierda h2, .config-derecha h2, .config-izquierda .container-card .cards p, .config-derecha .container-card .cards p, .container-card .cards .config-izquierda p, .container-card .cards .config-derecha p {
  color: white;
}
.config-izquierda .parrafo-izquierda, .config-derecha .parrafo-izquierda, .config-derecha .parrafo-derecha {
  color: white;
  text-align: center;
  font-family: "Poiret One", serif;
  font-size: 24px;
  margin: 50px;
}

.contenedor-img {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.contenedor-img .img-derecha, .contenedor-img .img-izquierda {
  width: 600px;
  height: 600px;
  border-radius: 10px;
}
.container-servicios {
  margin-top: 100px;
  margin-bottom: 100px;
}

.config-video {
  width: 500px;
  height: 500px;
}

.parrafo-sobre-nosotros-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 32px;
}

.contenedor-informacion .container-card {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
}
.contenedor-informacion .container-card .cards {
  padding: 16px;
  border: none;
  border-radius: 5px;
  width: 700px;
}
.contenedor-informacion .config-imagen-texto {
  display: flex;
  flex-direction: none;
  justify-content: none;
  align-items: center;
}
.contenedor-informacion h1 {
  color: #f1eff4;
  font-family: "Poiret One", serif;
  font-size: 48px;
}
.contenedor-informacion .icono-informacion {
  display: inline-block;
  width: 60px;
  height: 38px;
  color: white;
  margin-right: 10px;
}
.contenedor-informacion p {
  padding: 0px;
  display: inline-block;
  color: white;
}
.contenedor-informacion .config-mapa {
  width: 640px;
  height: 500px;
  margin: 16px;
  border-radius: 8px;
}
.contenedor-informacion .section-informacion {
  margin-bottom: 100px;
}

.contenedor-formulario {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-bottom: 50px;
}
.contenedor-formulario .texto-formulario {
  color: white;
}
.contenedor-formulario .campo-formulario, .contenedor-formulario .botom-formulario, .contenedor-formulario .campo-textarea {
  width: 1000px;
  height: none;
  border: 1px solid black;
  border-radius: 5px;
}
.contenedor-formulario .botom-formulario {
  height: 40px;
}
.contenedor-formulario .botom-formulario:hover {
  color: #004080;
}

@media (min-width: 451px) and (max-width: 1200px) {
  header {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .footer-style img {
    width: 50px;
    height: 50px;
  }
  .footer-contenedor {
    gap: 50px;
  }
  .custom-toggler {
    border: 2px solid white;
  }
  .navbar-toggler-icon {
    background-image: url("/assets/img/icono-lista-menu-2.png");
  }
  .seccion-1, .seccion-2 {
    margin: 160px 50px;
  }
  .seccion-1 h1, .seccion-2 h1 {
    font-size: 48px;
  }
  .seccion-1 p, .seccion-2 p {
    font-size: 28px;
  }
  .seccion-1 .linea-horizontal, .seccion-2 .linea-horizontal, .seccion-1 .linea, .seccion-2 .linea, .seccion-1 .config-izquierda .linea-horizontal-izquierda, .config-izquierda .seccion-1 .linea-horizontal-izquierda, .seccion-2 .config-izquierda .linea-horizontal-izquierda, .config-izquierda .seccion-2 .linea-horizontal-izquierda, .seccion-1 .config-derecha .linea-horizontal-izquierda, .config-derecha .seccion-1 .linea-horizontal-izquierda, .seccion-2 .config-derecha .linea-horizontal-izquierda, .config-derecha .seccion-2 .linea-horizontal-izquierda, .seccion-1 .config-derecha .linea-horizontal-derecha, .config-derecha .seccion-1 .linea-horizontal-derecha, .seccion-2 .config-derecha .linea-horizontal-derecha, .config-derecha .seccion-2 .linea-horizontal-derecha {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .carrusel-img {
    width: 100%;
    height: 700px;
  }
  .carousel-caption h5 {
    font-size: 48px;
  }
  .carousel-caption p {
    font-size: 16px;
  }
  .seccion-2 {
    margin: 160px 50px;
  }
  .seccion-2 h1 {
    font-size: 48px;
  }
  .seccion-2 p {
    font-size: 28px;
  }
  .seccion-2 .linea-horizontal, .seccion-2 .linea, .seccion-2 .config-izquierda .linea-horizontal-izquierda, .config-izquierda .seccion-2 .linea-horizontal-izquierda, .seccion-2 .config-derecha .linea-horizontal-izquierda, .config-derecha .seccion-2 .linea-horizontal-izquierda, .seccion-2 .config-derecha .linea-horizontal-derecha, .config-derecha .seccion-2 .linea-horizontal-derecha {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .seccion-2 h2, .seccion-2 .container-card .cards p, .container-card .cards .seccion-2 p {
    font-size: 48px;
  }
  .config-izquierda, .config-derecha {
    display: flex;
    flex-direction: center;
    justify-content: none;
    align-items: center;
  }
  .config-izquierda .parrafo-izquierda, .config-derecha .parrafo-izquierda, .config-derecha .parrafo-derecha {
    font-size: 24px;
  }
  .contenedor-tamaño-estructura {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
  }
  .contenedor-tamaño-estructura h2, .contenedor-tamaño-estructura .container-card .cards p, .container-card .cards .contenedor-tamaño-estructura p {
    font-family: "Poiret One", serif;
    font-size: 48px;
  }
  .contenedor-tamaño-estructura p {
    font-size: 28px;
  }
  .contenedor-tamaño-estructura .img-derecha, .contenedor-tamaño-estructura .contenedor-img .img-izquierda, .contenedor-img .contenedor-tamaño-estructura .img-izquierda {
    width: 100%;
    height: 500px;
  }
  .contenedor-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedor-formulario .config-mapa {
    width: 50px;
    height: 50px;
  }
  .contenedor-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedor-formulario .campo-formulario, .contenedor-formulario .campo-textarea, .contenedor-formulario .botom-formulario {
    font-size: 14px;
    width: 500px;
    padding: 10px;
  }
}
@media (max-width: 450px) {
  header {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .footer-style img {
    width: 40px;
    height: 40px;
  }
  .footer-contenedor {
    gap: 25px;
  }
  .imagen-style {
    width: 100%;
    height: 350px;
  }
  .custom-toggler {
    border: 2px solid white;
  }
  .navbar-toggler-icon {
    background-image: url("/assets/img/icono-lista-menu-2.png");
  }
  .seccion-1, .seccion-2 {
    margin: 50px 50px;
  }
  .seccion-1 h1, .seccion-2 h1 {
    font-size: 24px;
  }
  .seccion-1 p, .seccion-2 p {
    font-size: 14px;
  }
  .seccion-1 .linea-horizontal, .seccion-2 .linea-horizontal, .seccion-1 .linea, .seccion-2 .linea, .seccion-1 .config-izquierda .linea-horizontal-izquierda, .config-izquierda .seccion-1 .linea-horizontal-izquierda, .seccion-2 .config-izquierda .linea-horizontal-izquierda, .config-izquierda .seccion-2 .linea-horizontal-izquierda, .seccion-1 .config-derecha .linea-horizontal-izquierda, .config-derecha .seccion-1 .linea-horizontal-izquierda, .seccion-2 .config-derecha .linea-horizontal-izquierda, .config-derecha .seccion-2 .linea-horizontal-izquierda, .seccion-1 .config-derecha .linea-horizontal-derecha, .config-derecha .seccion-1 .linea-horizontal-derecha, .seccion-2 .config-derecha .linea-horizontal-derecha, .config-derecha .seccion-2 .linea-horizontal-derecha {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .carrusel-img {
    width: 100%;
    height: 350px;
  }
  .seccion-2 {
    margin: 160px 50px;
  }
  .seccion-2 h1 {
    font-size: 24px;
  }
  .seccion-2 p {
    font-size: 14px;
  }
  .seccion-2 .linea-horizontal, .seccion-2 .linea, .seccion-2 .config-izquierda .linea-horizontal-izquierda, .config-izquierda .seccion-2 .linea-horizontal-izquierda, .seccion-2 .config-derecha .linea-horizontal-izquierda, .config-derecha .seccion-2 .linea-horizontal-izquierda, .seccion-2 .config-derecha .linea-horizontal-derecha, .config-derecha .seccion-2 .linea-horizontal-derecha {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .seccion-2 h2, .seccion-2 .container-card .cards p, .container-card .cards .seccion-2 p {
    font-size: 24px;
  }
  .contenedor-informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
  }
  .contenedor-informacion .titulo-contacto {
    font-size: 24px;
  }
  .mapa .config-mapa {
    width: 250px;
    height: 250px;
    margin: 100px;
  }
  .contenedor-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedor-formulario .campo-formulario, .contenedor-formulario .campo-textarea, .contenedor-formulario .botom-formulario {
    font-size: 14px;
    width: 300px;
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
